@charset "UTF-8";

#hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.85)),  url('../images/security-mechanism-splash.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero {
    min-height: 40vh;
    padding: 20px;
    display: grid;
    place-content: center;
    text-align: center;
}

.hero h1 {
    text-transform: uppercase;
}

.hero img {
    height: 200px;
    width: auto;
    border-radius: 20px;
    margin: 20px;
}

#security-mechanisms {
    width: 100vw;
    margin: auto;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#security-mechanisms img {
    width: 100%;
    height: 50vw;
    height: 400px;
    object-fit: cover;
    margin: auto;
    grid-column: 1/span 2;
}

#security-mechanisms #introduction {
    width: 100vw;
    grid-column: 1 /span 2;
}

.card {
    padding: 20px;
    max-width: 800px;
    margin: 20px 20px;
}